In [1]:
# First feature: the numpy array
# This allow us to transform sequential data structure (as well as tuples) such as lists into real arrays 
from numpy import array

In [2]:
a = [1, 2, 3]

In [3]:
b = array(a)

In [4]:
b

array([1, 2, 3])

In [5]:
type(b)

numpy.ndarray

In [6]:
# the advantage of such data structure is that we can easily scale an operation to then entire structure

In [7]:
# b is previously: array([1, 2 ,3]) 
b + 1

array([2, 3, 4])

In [8]:
b * 10

array([10, 20, 30])

In [9]:
# Second feature: the arange function
# If you do some python then you should know the range function.
# The numpy arange function does kind of the same thing, what changes is the return type
# The range returns a list while the arange returns an array
from numpy import arange

In [10]:
r = range(10)
ar = arange(10)

In [11]:
r

range(0, 10)

In [12]:
ar

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
# You can create not only one dimensional arrays but also multi dimensional ones
ma = array([[1, 2], [2, 3], [4, 5]])

In [14]:
ma

array([[1, 2],
       [2, 3],
       [4, 5]])

In [15]:
ma * 10

array([[10, 20],
       [20, 30],
       [40, 50]])

In [22]:
# The ndim property, is the number of dimension 
# 1 for a vector 
# 2 for a matrix
ar.ndim

1

In [24]:
ma.ndim

2

In [35]:
# The shape property is a tuple, with the length of each dimension of an array
# For a vector, it returns the number of elements
b.shape

(3,)

In [30]:
ar.shape

(10,)

In [36]:
# For a matrix: 
# the first number is the number of elements (number of rows)
# the second number is the length of a line (number of columns) 
ma.shape

(3, 2)

In [37]:
# Finally you can use size to get the total of elements in an array
b.size

3

In [38]:
ar.size

10

In [40]:
ma.size

6

In [41]:
# Now we are going to see a way to reformat an array
# Let us imagine that we have an array of one dimension
# and that we want an array of two dimensions of 5 elements each
ar

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
ar.size

10

In [56]:
new_size = int(ar.size / 2)

In [57]:
new_size

5

In [58]:
ar.reshape((2, new_size))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [67]:
# Same if we want to change a vector of 6 elements into:
six_elements_range = arange(6)
six_elements_range

array([0, 1, 2, 3, 4, 5])

In [68]:
# - a matrix with 2 rows and 3 columns
six_elements_range.reshape((2,3))

array([[0, 1, 2],
       [3, 4, 5]])

In [69]:
# - a matrix with 3 rows and 2 column
six_elements_range.reshape(3, 2)

array([[0, 1],
       [2, 3],
       [4, 5]])

In [78]:
# If you need to transform a one dimension array into a two dimension array which size does not fit
# for example the six elements range of size 6
# into an two dimension array of size 5
# ths reshape function will raise an error

# In this case you can use the function: resize
# but you must understand that it will fill the created array with additional zero

six_elements_range.resize((2,5), refcheck=False)
six_elements_range

array([[0, 1, 2, 3, 4],
       [5, 0, 0, 0, 0]])